XlsxToLua/.vs/
XlsxToLua/obj/
XlsxToLuaGUI/.vs/
XlsxToLuaGUI/obj/

XlsxToLua/bin/Debug/ExportJson/
XlsxToLua/bin/Debug/ExportLua/
XlsxToLua/bin/Debug/ExportJavaClass/
XlsxToLua/bin/Debug/ExportCsv/
XlsxToLua/bin/Debug/ExportCsClass/

XlsxToLua/bin/Debug/XlsxToLua.pdb

release/Excel
release/ExportLua